// Mixins in here
.btn {
  padding: @largePadding;
  font-size: @mediumFontSize;
  border-radius: 10px;    background-color: teal;
    color: white;
    text-align: center;
    cursor: pointer;
  
    &:hover {
 
      background-color: darken(teal, 5%)
    }
  }