// Navigation Styles here
header {
   display: flex;
   align-items: baseline;
   justify-content: space-between;
   background-color: @white;
   border-bottom: 2px dashed @navigation-border;
   padding-bottom: @largePadding;
   padding-top: @largePadding;

   h1 {
      @media @mobile{
         text-align: center;
      }
   }

   @media @mobile {
      flex-direction: column;
      justify-content: center;
   }

      a {
         color: inherit;
         font-size: @smallFontSize;
         text-decoration: none;
         padding: @largePadding;
         }
}