
// Color assignments 
@font-color: @shark;
@button-bg: @eastern-blue;
@main-bg:  @white;
@navigation-border: @silver;
@footer-bg: @sandy-beach;

// Colors
@white: #FFFFFF;
@silver: #C0C0C0;
@shark: #212529;
@eastern-blue: #17A2B8;
@sandy-beach: #FFEBCD;

// max width for website
@maxWidthWebsite: 800px;

// base font sizes
@defaultFontSize: 100%;
@mobileFontSize: 150%;

// font sizes
@xLargeFontSize: 2rem;
@largeFontSize: 1.5rem;
@smallFontSize: .5rem;

// paddings
@largePadding: 2rem;
@mediumPadding: 1rem;
@smallPadding: .5rem;

// devices
@mobile: ~"(max-width: 500px)";